*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* navigation */
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 100;
  background: #0000;
}
.navbar{
  background-image: linear-gradient(to right, #ffff, #ffff);
  padding: 0, !important;
  height: 72px;
}


.navbar-nav li{
  padding: 0 10px;

}

.navbar-nav li a{
  color: #7777;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  float: right;
  text-align: left;
}
.navbar-nav li a:hover{
  color: black;
}
.fa-bars{
  color: #ffff;
  font-size: 30px !important;
}
.navbar-toggler{
  border: none;
}
.navbar-toggler:focus, 
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
}


/* Home */

#Home{
  background-image: url(./image/Frame\ 1000001265.png);
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 150px;
}


.left-hr, .right-hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: black; /* Change the color as needed */
}

.btn-hover, .btn-hover1{
  background-color: #FFA500 !important;
  color: #ffff !important;

}
.btn-hover:hover {
  color: #FFA500 !important;
  background-color: #ffff !important;
  border-color: #FFA500 !important;
}

.btn-hover1:hover {
  color: #FFA500 !important;
  background-color:transparent !important;
  border-color: #FFA500 !important;
}

.R1{
  margin-top: 45px;
}

.R1 h4{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #FFA500;
}

.R2 {
  margin-top: 140px;
  
}
.R2 h3{
  font-family: "Shippori Mincho", serif;
  font-weight: bold;
  font-size: 56px;
  color: #ffff;
}

.R3 h5{
  color: #FFA500;
}
.R3 p{
  font-size: 11px;
}
.R3 h5, .R3 p{
  font-family: "Shippori Mincho", serif;
  font-weight: bold;
  font-style: normal;
}
/* about-us */

.line{
  content: '';
  background: #FFA500;
  height: 2px;
  width: 200px;
}
.btn-about {
  background: url(./image/Frame\ 1000001251.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 25px 75px 35px !important; 
}


         /* MEDIA PAGE */

.img-col {
  transition: transform 0.3s ease-in-out; /* add transition effect */
  padding: 0px !important;
  border-radius: 10px !important;
}

.img-col:hover {
  transform: scale(0.9); /* enlarge on hover */
  overflow: hidden;
}

.img-col:not(:hover) {
  transform: scale(0.8); /* reduce size when not hovered */
}
.img-hover{
  border-radius: 10px;
  margin-bottom: 25px;
}


                    /* PROJECTS */
.pro hr{
  opacity: 1;
  border-top: 2px solid #FFA500;
}




/* DONATION PAGES */
.og1 img{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;

}

.MG img{
  background-position: center;
  background-size: cover;
}

.text-on-image {
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-35%, -62%);
  color: white;
  margin-top:35px;
}

.rox{
  background-color: #FFA500;
  padding: 5px;
  width: 75px !important;
  color: #ffff;
  font-weight: 500;
  
}

               /* RESOUCES */

.nad a:hover{
  color: #FFA500 !important;
  transition: 0.3s ease color;
}



.srch{
  width: 300px;
  height: 52px;
  background: transparent;
  border: 1px solid #FFA500;
  color: white;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  margin-top: 13px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.btf{
  width: 60px;
  height: 52px;
  background: #FFA500;
  border: 2px solid #FFA500;
  margin-top: 13px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.tyr{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  border-bottom-right-radius:75px !important ;
  padding: 0px !important;
  width: 325px !important;
}


                     /* TEAM MEMBER */
#Team-member{
  background-color: #F5F5DC;
  height: 1050px;

 }
.run{
  background: url(./image/Group\ 15127.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px !important;
}

.word h3{
    font-family: "Passions Conflict", cursive;
    font-size: 64px !important;
}


.card{
  border-top-right-radius: 24px !important;
}
.card-body{
  background: url(./image/Rectangle\ 10217.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px !important;
}
 
.card-body p{
  padding-left: 18px;
  padding-right: 18px;
}
 


             /* GET INVOLVED */

.f-row{
  background: url(./image/Frame\ 1000001437.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px !important;

}

.form input, .form textarea{ 
  padding: 15px !important;
  background: transparent;
  width: 100%;
  border: 1px solid #ffff;
  font-size: small;
  color: white;
  outline: none;
 
}

.form input::placeholder{
  color: white ;
}

.btn-n{
  background-color: white;
  color: #2F4F4F;
  padding: 13px !important;
  font-size: small;
  font-weight: 500;
  border: 1px solid #ffff;
  border-radius: 15px;
  width: 25%;
}

.btn-n:hover{
  background-color: transparent;
  border: 1px solid #2F4F4F;
  color: white;
  transition: 0.5s ease-in-out;
}

  
            /* CONTACT US */
 .d-img{
  padding-right: 50%;
 }           
.d-img img{
  width: 55px;
}

.eff2{
  background: #2F4F4F;
}

.eff2 h5{
  margin-bottom: 18px;
  font-weight: bold;
}

.eff2 p{
 font-size: 13px;
}

              /* FOOTER */
.eff3{
  background: #2F4F4F;
  padding: 20px 165px;
}

.eff3 p{
  margin: 0px;
  font-size: 13px;
 }
 











